:root {
  --light-accent: #4ae072; /* Tomato color */
}

@media (prefers-color-scheme: dark) {
/* not working in here, but using js to set root.style.setProperty is working
/*   :root { */
/*     --light-accent: #00ff00; /* Green color */ */
/*   } */
}

a {
  color: var(--light-accent);
}

menu li {
  color: #4ae072;
}
